@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}
/* Background picture */
body {
  background-color: #f9f9fd;
  background: radial-gradient(
      circle,
      transparent 20%,
      #f9f9fd 20%,
      #f9f9fd 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #f9f9fd 20%,
        #f9f9fd 80%,
        transparent 80%,
        transparent
      )
      67.5px 67.5px,
    linear-gradient(#8ee8ff 5.4px, transparent 5.4px) 0 -2.7px,
    linear-gradient(90deg, #8ee8ff 5.4px, #f9f9fd 5.4px) -2.7px 0;
  background-size: 135px 135px, 135px 135px, 67.5px 67.5px, 67.5px 67.5px;
  background-attachment: fixed;
}
/* Top Section */
section {
  padding: 10px;
}
section h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
  font-weight: 600;
}
section .fa-arrow-left {
  color: black;
}
section .fa-pencil-alt {
  font-size: 30px;
}

/* Restaurant Information */
.container {
  text-align: center;
  background-color: #63d1ec;
  border: 0px solid transparent;
  padding: 20px;
  width: 650px;
  margin: auto;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.infoBox {
  width: 50%;
}
.menu {
  text-decoration: underline;
}
.menu:hover {
  color: blue;
  cursor: pointer;
}

/* Hide and show menu items  */
.hidden {
  display: none;
}

ul li {
  list-style: none;
}
